<div class="grid grid-cols-2">
  <div>
    <img
      class="rounded-lg"
      src="{{ apiURL }}/public/{{ recipe?.image }}"
      alt=""
    />
  </div>
  <div>
    <h1 class="text-2xl mb-6">{{ recipe?.name }}</h1>
    <p class="mb-2">
      By:
      <a routerLink="/users/{{ recipe?.user.id }}">{{ recipe?.user.name }}</a>
    </p>
    <div class="flex items-center my-5">
      <p
        class="flex items-center mr-6 font-normal text-gray-700 dark:text-gray-400"
      >
        <svg
          class="w-6 h-6 mr-2 fill-sky-500"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm1-12a1 1 0 10-2 0v4a1 1 0 00.293.707l2.828 2.829a1 1 0 101.415-1.415L11 9.586V6z"
            clip-rule="evenodd"
          ></path>
        </svg>
        Prep: {{ recipe?.preparation_time }}
      </p>
      <p
        class="flex items-center mr-6 font-normal text-gray-700 dark:text-gray-400"
      >
        <svg
          class="w-6 h-6 mr-2 fill-sky-500"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9a1 1 0 100-2 1 1 0 000 2zm7-1a1 1 0 11-2 0 1 1 0 012 0zm-.464 5.535a1 1 0 10-1.415-1.414 3 3 0 01-4.242 0 1 1 0 00-1.415 1.414 5 5 0 007.072 0z"
            clip-rule="evenodd"
          ></path>
        </svg>
        {{ recipe?.level }}
      </p>
      <p class="flex items-center font-normal text-gray-700 dark:text-gray-400">
        <svg
          class="w-6 h-6 mr-2 fill-sky-500"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z"
          ></path>
        </svg>
        Serves: {{ recipe?.serves }}
      </p>
    </div>

    <p class="description" [innerHtml]="recipe?.description | sanitize"></p>
  </div>
</div>
