<form [formGroup]="recipeForm" (ngSubmit)="createRecipe(recipeForm.value)">
  <div class="grid gap-6 mb-6 lg:grid-cols-2">
    <div>
      <label
        for="name"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >Recipe name</label
      >
      <input
        formControlName="name"
        type="text"
        id="name"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="E.g.: Chorizo & mozzarella gnocchi bake"
      />
    </div>
    
    <div>
      <label
        for="preparation-time"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >Preparation time</label
      >
      <input
        formControlName="preparation_time"
        type="text"
        id="preparation-time"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="E.g.: 25 mins"
      />
    </div>
    <div>
      <label
        for="level"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
        >Difficulty of preparation</label
      >
      <select
        formControlName="level"
        id="level"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option value="Easy">Easy</option>
        <option value="Medium">Medium</option>
        <option value="Hard">Hard</option>
      </select>
    </div>
    <div>
      <label
        for="serves"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
        >Number of serves</label
      >
      <input
        formControlName="serves"
        type="number"
        id="serves"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="E.g.: 4"
      />
    </div>

    <!-- <div class="mb-6">
      <label
        for="description"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
        >How to cook this recipe?</label
      >
      <textarea
        id="description"
        rows="15"
        class="resize-none block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Recipe instructions..."
      ></textarea>
    </div> -->

    <div class="mb-6">
      <label
        for="description"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400"
        >How to cook this recipe?</label
      >
      <editor
        formControlName="description"
        id="description"
        [init]="{ plugins: 'lists link image table code help wordcount' }"
      ></editor>
    </div>

    <div *ngIf="filePath">
      <p
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
      >
        Recipe image
      </p>
      <img
        class="rounded-lg h-80 w-full object-cover"
        src="{{ filePath }}"
        alt=""
      />
    </div>
  </div>

  <div class="mb-6">
    <label
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
      for="file"
      >Upload image</label
    >
    <input
      formControlName="file_source"
      (change)="onFileChange($event)"
      class="block w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 cursor-pointer dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
      id="file"
      type="file"
    />
  </div>

  <button
    class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
    type="submit"
  >
    Create this recipe
  </button>
</form>
<!--
<script>
  function checkSubmit() {
  
    var ourInput2 = document.getElementById("name");
  
    if (ourInput2.value.length < 3) {
      document.getElementById('name').style.borderColor = "#B0706D";
      document.getElementById('errorField2').style.display = "block";
      document.getElementById("errorField2").innerHTML = "Please provide a longer name for the recipe!";
      alert("My input has a value!");
    } else {
      document.getElementById('errorField2').style.display = "none";
      document.getElementById('name').style.borderColor = "#C3CDC0";
    }

  
  }
</script>
-->